[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 40px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #A7A7A7;
}
.header__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul {
  gap: 50px;
}
.header__nav ul a {
  -webkit-box-shadow: inset 0 0 0 0 #54b3d6;
          box-shadow: inset 0 0 0 0 #54b3d6;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
@media (min-width: 890px) {
  .header__nav ul a:hover {
    color: #fff;
    -webkit-box-shadow: inset 200px 0 0 0 #54b3d6;
            box-shadow: inset 200px 0 0 0 #54b3d6;
  }
}

.header__links ul {
  gap: 20px;
}
.header__links ul a svg path {
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header__links ul a:hover svg path {
  fill: #54b3d6;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__container h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  /* identical to box height, or 54% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Solid Heading */
  color: #42446E;
  display: inline-block;
  margin-bottom: 50px;
}

.portfolio__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.portfolio__item {
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  position: relative;
}
.portfolio__item:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 100%);
  -webkit-transform: translate3d(0px, 20px, 0) scale(0.95);
          transform: translate3d(0px, 20px, 0) scale(0.95);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: var(0.7);
  -webkit-transition: opacity 0.3s ease, background 0.3s ease;
  transition: opacity 0.3s ease, background 0.3s ease;
  border-radius: inherit;
}
.portfolio__item::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
.portfolio__item:hover:before {
  background: linear-gradient(-45deg, #0400ff 0%, #ff3d00 100%);
}

.portfolio__image {
  width: 100%;
  height: 260px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.portfolio__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__content {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.portfolio__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 17px;
}

.portfolio__descr {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  margin-bottom: 12px;
}

.portfolio__stack {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #42446E;
  margin-bottom: 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portfolio__stack-items {
  font-weight: 300;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */