$minWidth: 360;
$blackColor: #000;
$whiteColor: #fff;
$grayColor: #A7A7A7;
$hoverColor: #54b3d6;
$fontFamily: 'Arial';
$fontSize: 14px;

[class*=__container] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding: 40px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grayColor;

    ul {
        display: flex;
    }
}

.header__logo {}

.header__nav {
    ul {
        gap: 50px;

        a {
            box-shadow: inset 0 0 0 0 $hoverColor;
            padding: 0 .25rem;
            margin: 0 -.25rem;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }

        @media (min-width: 890px) {
            a:hover {
                color: #fff;
                box-shadow: inset 200px 0 0 0 $hoverColor;
            }
        }
    }
}

.header__links {
    ul {
        gap: 20px;

        a {
            svg path {
                transition: fill .3s ease-in-out;
            }

            &:hover {
                svg path {
                    fill: $hoverColor;
                }
            }
        }
    }
}


.portfolio {}

.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 26px;
        /* identical to box height, or 54% */

        display: flex;
        align-items: center;
        text-align: center;

        /* Solid Heading */

        color: #42446E;
        display: inline-block;
        margin-bottom: 50px;
    }
}

.portfolio__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.portfolio__item {
    width: 100%;
    background: #FFFFFF;
    // box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    // overflow: hidden;
    position: relative;

    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 100%);
        transform: translate3d(0px, 20px, 0) scale(0.95);
        filter: blur(20px);
        opacity: var(0.7);
        transition: opacity 0.3s ease, background 0.3s ease;
        border-radius: inherit;
    }

    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        border-radius: inherit;
    }
    &:hover {
        &:before {
            background: linear-gradient(-45deg, #0400ff 0%, #ff3d00 100%); 
        }
    }
}


.portfolio__image {
    width: 100%;
    height: 260px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.portfolio__content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 26px;
    margin-bottom: 17px;
}

.portfolio__descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #666666;
    margin-bottom: 12px;
}

.portfolio__stack {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #42446E;
    margin-bottom: 21px;
    flex: 1;
}

.portfolio__stack-title {}

.portfolio__stack-items {
    font-weight: 300;
    font-size: 14px;
}

.portfolio__link {}