@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide:not(.is-overflow) .splide__pagination {
  display: none;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized, .splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play, .splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 107.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
  margin-top: 10px;
}
.select::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width=%277%27 height=%275%27 viewBox=%270 0 7 5%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M3.10957 4.51196L0.149878 0.812348C-0.112027 0.484966 0.121059 0 0.540312 0H6.45969C6.87894 0 7.11203 0.484966 6.85012 0.812348L3.89043 4.51196C3.69027 4.76216 3.30973 4.76216 3.10957 4.51196Z%27 fill=%27%23777777%27/%3E%3C/svg%3E%0A");
  transition: all 0.3s ease;
  background-size: contain;
  width: 0.4375rem;
  height: 0.3125rem;
  top: 50%;
  right: 15px;
}
.select._select-open::before {
  transform: rotate(180deg);
}
.select__body {
  position: relative;
}
.select__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #151515;
  cursor: pointer;
  width: 100%;
  border: 1px solid #D9DCED;
  border-radius: 4px;
  padding: 12px 15px;
}
.select__value {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0px 0px;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.select__value:before {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
._select-open .select__value:before {
  transform: rotate(-180deg);
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 40px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 12px 15px;
  font-size: 16px;
  line-height: 140%;
  color: #151515;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

main {
  background: #F7F7FA;
  padding: 30px 0;
}

.btn {
  padding: 10px 30px;
  background: #424888;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease;
  border: 1px solid #424888;
}
.btn svg rect {
  transition: all 0.3s ease;
}

.btn:hover {
  background: #fff;
  color: #424888;
  border: 1px solid #424888;
}
.btn:hover svg rect {
  stroke: #424888;
}

.header {
  padding: 27px 0;
  max-height: 6.25rem;
  height: 100%;
  background: #ffffff;
  border-bottom: 1px solid #d9dced;
}
.header._header-scroll {
  position: fixed;
  top: -200%;
}
.header._header-show {
  transition: top 0.3s ease 0s;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  max-height: 4.75rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__search {
  display: flex;
}
.header__search .input__inner {
  position: relative;
}
.header__search .input__inner input {
  font-size: 14px;
  line-height: 130%;
  color: #424888;
}
.header__search .input__inner label {
  position: absolute;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}
.header__search-input {
  outline: none;
  padding: 13px 10px 13px 44px;
  border: 1px solid #424888;
  border-right: none;
}
.header__search-input.img-location {
  border-radius: 0;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.header__search-input {
  border-radius: 4px 0px 0px 4px;
  max-width: 390px;
  width: 100%;
  min-width: 100px;
}
.header__search-btn {
  border-radius: 0px 4px 4px 0px;
}
.header__user-menu {
  display: flex;
  align-items: center;
}
@media (min-width: 109.375em) {
  .header__user-menu {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .header__user-menu {
    gap: clamp( 0.625rem , 0.3452797203rem  +  1.3986013986vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .header__user-menu {
    gap: 0.625rem;
  }
}
.header__user-menu .user-card {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__user-menu .user-card span {
  padding: 2px 4px;
  color: #424888;
  font-size: 12px;
  line-height: 130%;
  background: #d9dced;
  border-radius: 2px;
}

.catalog_button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-image-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.user-image-menu.active .user__menu {
  display: block;
}
.user-image-menu.active svg {
  transform: rotate(180deg);
}

.user__menu {
  display: none;
  z-index: 1000;
  position: absolute;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
  border-radius: 4px;
  background: #FFFFFF;
  top: 50px;
  width: 10.25rem;
  right: 0;
}
.user__menu-list {
  padding: 12px 20px;
}
.user__menu-list:not(:last-child) {
  border-bottom: 1px solid #D9DCED;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
.splide__slide .slide__inner {
  width: 100%;
  height: 460px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
@media (min-width: 109.375em) {
  .splide__slide .slide__inner {
    padding-left: 9.125rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .splide__slide .slide__inner {
    padding-left: clamp( 1.25rem , -0.5122377622rem  +  8.8111888112vw , 9.125rem );
  }
}
@media (max-width: 20em) {
  .splide__slide .slide__inner {
    padding-left: 1.25rem;
  }
}

@media (min-width: 109.375em) {
  .hero__slider {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .hero__slider {
    margin-bottom: clamp( 2.5rem , 1.9405594406rem  +  2.7972027972vw , 5rem );
  }
}
@media (max-width: 20em) {
  .hero__slider {
    margin-bottom: 2.5rem;
  }
}

.hero__promo {
  width: 545px;
}
.hero__title {
  margin-bottom: 1.25rem;
}
.hero__subtitle {
  margin-bottom: 30px;
}
.hero__button {
  padding: 14px 30px;
}
.hero__button:hover {
  background-color: transparent;
}

.title {
  font-weight: 500;
  line-height: 130%;
  color: #151515;
}
@media (min-width: 109.375em) {
  .title {
    font-size: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .title {
    font-size: clamp( 2rem , 1.8041958042rem  +  0.979020979vw , 2.875rem );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 2rem;
  }
}

.subtitle {
  font-weight: 500;
  line-height: 140%;
  color: #3f3f3f;
}
@media (min-width: 109.375em) {
  .subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .subtitle {
    font-size: clamp( 1rem , 0.9440559441rem  +  0.2797202797vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .subtitle {
    font-size: 1rem;
  }
}

.splide__arrow--prev,
.splide__arrow--next {
  width: 46px;
  height: 46px;
  border: 1px solid #d9dced;
  border-radius: 30px;
  background: transparent;
  opacity: 1;
}
.splide__arrow--prev svg path,
.splide__arrow--next svg path {
  fill: rgb(66, 72, 136);
}

.splide__arrow--prev {
  left: -4em;
}

.splide__arrow--next {
  right: -4em;
}

.splide__pagination {
  bottom: -1.5em;
}

.splide__pagination__page {
  width: 8px;
  height: 8px;
  background: #d9dced;
  border-radius: 2px;
}

.splide__pagination__page.is-active {
  width: 20px;
  height: 8px;
  background: #aeb4d5;
  border-radius: 2px;
}

@media (min-width: 109.375em) {
  .sortered__cards {
    margin-top: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .sortered__cards {
    margin-top: clamp( 1.25rem , 0.5506993007rem  +  3.4965034965vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .sortered__cards {
    margin-top: 1.25rem;
  }
}
@media (min-width: 109.375em) {
  .sortered__cards {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .sortered__cards {
    margin-bottom: clamp( 1.25rem , 0.5506993007rem  +  3.4965034965vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .sortered__cards {
    margin-bottom: 1.25rem;
  }
}

.buttons__inner {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
@media (min-width: 109.375em) {
  .buttons__inner {
    margin-bottom: 4.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .buttons__inner {
    margin-bottom: clamp( 1.25rem , 0.6206293706rem  +  3.1468531469vw , 4.0625rem );
  }
}
@media (max-width: 20em) {
  .buttons__inner {
    margin-bottom: 1.25rem;
  }
}

.purple-btn {
  background: #ededf5;
  border: 1px solid #d9dced;
  border-radius: 4px;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #424888;
  padding: 21px 30px;
  transition: all 0.3s ease;
}
@media (min-width: 109.375em) {
  .purple-btn {
    padding-top: 1.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .purple-btn {
    padding-top: clamp( 0.625rem , 0.4711538462rem  +  0.7692307692vw , 1.3125rem );
  }
}
@media (max-width: 20em) {
  .purple-btn {
    padding-top: 0.625rem;
  }
}
@media (min-width: 109.375em) {
  .purple-btn {
    padding-right: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .purple-btn {
    padding-right: clamp( 0.9375rem , 0.7277097902rem  +  1.048951049vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .purple-btn {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 109.375em) {
  .purple-btn {
    padding-bottom: 1.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .purple-btn {
    padding-bottom: clamp( 0.625rem , 0.4711538462rem  +  0.7692307692vw , 1.3125rem );
  }
}
@media (max-width: 20em) {
  .purple-btn {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 109.375em) {
  .purple-btn {
    padding-left: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .purple-btn {
    padding-left: clamp( 0.9375rem , 0.7277097902rem  +  1.048951049vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .purple-btn {
    padding-left: 0.9375rem;
  }
}
.purple-btn:hover {
  background: #F7F7FA;
}
.purple-btn.active {
  background: #F7F7FA;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 292px;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #f7f7fa;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.card:hover {
  border: 1px solid #d9dced;
}
.card__image {
  background-repeat: no-repeat;
  width: 262px;
  height: 210px;
  width: 262px;
  height: 210px;
  margin-bottom: 20px;
  padding: 12px;
  position: relative;
}
.card__image:hover svg {
  opacity: 1;
}
.card__image svg {
  opacity: 0;
  transition: all 0.3s ease;
}
.card__image svg:hover {
  fill: rgb(255, 0, 0);
}
.card__image svg:hover path {
  stroke: rgb(135, 36, 36);
}
.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #424888;
  margin-bottom: 10px;
}
.card__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #151515;
}

.card-to-favorite {
  position: absolute;
}

.card-rent {
  position: absolute;
  bottom: 12px;
  padding: 4px 8px;
  color: #424888;
  background: #d9dced;
  border-radius: 4px;
}

.card-manufacturer {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #151515;
  padding: 2px 4px;
}

.equipment {
  flex-grow: 1;
  padding-right: 5px;
  overflow-y: scroll;
  height: 350px;
}
@media (max-width: 56.25em) {
  .equipment {
    height: 100%;
  }
}
@media (max-width: 47.5em) {
  .equipment {
    height: 350px;
  }
}
.equipment::-webkit-scrollbar {
  width: 8px;
  background: #ebebeb;
  border-radius: 4px;
}
.equipment::-webkit-scrollbar-thumb {
  background: #d7d7d7;
  border-radius: 4px;
}
.equipment li {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #151515;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.equipment li:hover {
  background: #f7f7fa;
}
.equipment_selection {
  background: #ffffff;
  border: 1px solid #d9dced;
  border-radius: 4px;
}
@media (min-width: 109.375em) {
  .equipment_selection {
    margin-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .equipment_selection {
    margin-top: clamp( 2.5rem , 1.1013986014rem  +  6.993006993vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .equipment_selection {
    margin-top: 2.5rem;
  }
}
@media (min-width: 109.375em) {
  .equipment_selection {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .equipment_selection {
    margin-bottom: clamp( 2.5rem , 1.1013986014rem  +  6.993006993vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .equipment_selection {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 109.375em) {
  .equipment_selection {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .equipment_selection {
    padding-top: clamp( 1.25rem , 0.4108391608rem  +  4.1958041958vw , 5rem );
  }
}
@media (max-width: 20em) {
  .equipment_selection {
    padding-top: 1.25rem;
  }
}
@media (min-width: 109.375em) {
  .equipment_selection {
    padding-left: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .equipment_selection {
    padding-left: clamp( 1.25rem , 0.4108391608rem  +  4.1958041958vw , 5rem );
  }
}
@media (max-width: 20em) {
  .equipment_selection {
    padding-left: 1.25rem;
  }
}
@media (min-width: 109.375em) {
  .equipment_selection {
    padding-right: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .equipment_selection {
    padding-right: clamp( 1.25rem , 0.4108391608rem  +  4.1958041958vw , 5rem );
  }
}
@media (max-width: 20em) {
  .equipment_selection {
    padding-right: 1.25rem;
  }
}
@media (min-width: 109.375em) {
  .equipment_selection {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .equipment_selection {
    padding-bottom: clamp( 0.625rem , 0.2054195804rem  +  2.0979020979vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .equipment_selection {
    padding-bottom: 0.625rem;
  }
}

.selection {
  display: flex;
  gap: 60px;
}
@media (max-width: 47.5em) {
  .selection {
    flex-wrap: wrap;
  }
}
.selection__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #151515;
  margin-bottom: 2.5rem;
}

.options {
  flex-grow: 3;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.option {
  flex-grow: 0.5;
  width: 40%;
}
.option label {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3f3f3f;
  margin-bottom: 10px;
}
@media (max-width: 56.25em) {
  .option {
    width: 100%;
  }
}

.work__search {
  display: flex;
  gap: 30px;
}
@media (min-width: 109.375em) {
  .work__search {
    margin-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .work__search {
    margin-top: clamp( 2.5rem , 1.1013986014rem  +  6.993006993vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .work__search {
    margin-top: 2.5rem;
  }
}
@media (min-width: 109.375em) {
  .work__search {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .work__search {
    margin-bottom: clamp( 2.5rem , 1.1013986014rem  +  6.993006993vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .work__search {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 52.5em) {
  .work__search {
    flex-direction: column;
  }
}

.job__card {
  flex: 1 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.5s ease;
  max-height: 400px;
  height: 100%;
  min-height: 160px;
}
@media (min-width: 109.375em) {
  .job__card {
    padding: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .job__card {
    padding: clamp( 0.625rem , -0.354020979rem  +  4.8951048951vw , 5rem );
  }
}
@media (max-width: 20em) {
  .job__card {
    padding: 0.625rem;
  }
}
.job__card:hover {
  background-size: 110%;
}
.job__title {
  font-weight: 600;
  line-height: 130%;
  color: #151515;
  margin-bottom: 0.9375rem;
}
@media (min-width: 109.375em) {
  .job__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .job__title {
    font-size: clamp( 1.25rem , 1.1101398601rem  +  0.6993006993vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .job__title {
    font-size: 1.25rem;
  }
}
.job__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3f3f3f;
}
@media (min-width: 109.375em) {
  .job__subtitle {
    margin-bottom: 7.375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .job__subtitle {
    margin-bottom: clamp( 0.625rem , -0.8854895105rem  +  7.5524475524vw , 7.375rem );
  }
}
@media (max-width: 20em) {
  .job__subtitle {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 109.375em) {
  .companies {
    margin-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .companies {
    margin-top: clamp( 2.5rem , 1.1013986014rem  +  6.993006993vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .companies {
    margin-top: 2.5rem;
  }
}
@media (min-width: 109.375em) {
  .companies {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .companies {
    margin-bottom: clamp( 2.5rem , 1.1013986014rem  +  6.993006993vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .companies {
    margin-bottom: 2.5rem;
  }
}
.slider__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}
.slider__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}
.slider__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #424888;
  padding-right: 28px;
  position: relative;
}
.slider__link::before {
  content: url("data:image/svg+xml,%3Csvg width=%278%27 height=%2714%27 viewBox=%270 0 8 14%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M1 13L7 7L1 1%27 stroke=%27%23424888%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E%0A");
  width: 8px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-65%);
}

.company__card {
  width: 262px;
  max-height: 268px;
  background: #ffffff;
  border: 1px solid #d9dced;
  border-radius: 4px;
  padding: 20px 20px 12px;
}
.company__card:hover .company__info {
  opacity: 1;
}
.company__card-image {
  width: 140px;
  height: 80px;
  border: 1px solid #ededf5;
  border-radius: 4px;
  margin-bottom: 20px;
}
.company__card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #424888;
  margin-bottom: 10px;
}
.company__card-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #3f3f3f;
  margin-bottom: 20px;
}
.company__info {
  opacity: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #424888;
  transition: all 0.3s ease;
}

.news__card-image {
  max-height: 12.5rem;
  max-width: 20rem;
  margin-bottom: 20px;
}
.news__card-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #777777;
  margin-bottom: 8px;
}
.news__card-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #424888;
  max-width: 20rem;
}

.footer {
  background: #d9dced;
}
.footer__top {
  border-bottom: 1px solid #aeb4d5;
  display: flex;
  gap: 30px;
}
@media (min-width: 109.375em) {
  .footer__top {
    padding-top: 7.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .footer__top {
    padding-top: clamp( 1.25rem , -0.2465034965rem  +  7.4825174825vw , 7.9375rem );
  }
}
@media (max-width: 20em) {
  .footer__top {
    padding-top: 1.25rem;
  }
}
@media (min-width: 109.375em) {
  .footer__top {
    padding-bottom: 7.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .footer__top {
    padding-bottom: clamp( 1.25rem , -0.2465034965rem  +  7.4825174825vw , 7.9375rem );
  }
}
@media (max-width: 20em) {
  .footer__top {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 56.25em) {
  .footer__top {
    flex-direction: column;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 35px;
  flex: 1;
}
@media (max-width: 56.25em) {
  .footer__left {
    align-items: center;
  }
}
.footer__nums {
  display: flex;
  gap: 40px;
}
.footer__num-count {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
.footer__num-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3f3f3f;
}
.footer__right {
  flex: 1;
}
.footer__right ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 25em) {
  .footer__right ul {
    align-items: center;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 109.375em) {
  .footer__nav {
    gap: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .footer__nav {
    gap: clamp( 1.25rem , 0.7604895105rem  +  2.4475524476vw , 3.4375rem );
  }
}
@media (max-width: 20em) {
  .footer__nav {
    gap: 1.25rem;
  }
}
.footer__nav li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3f3f3f;
}
@media (max-width: 37.5em) {
  .footer__nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
@media (min-width: 109.375em) {
  .footer__bottom {
    padding-top: 1.84375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .footer__bottom {
    padding-top: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.84375rem );
  }
}
@media (max-width: 20em) {
  .footer__bottom {
    padding-top: 0.625rem;
  }
}
@media (min-width: 109.375em) {
  .footer__bottom {
    padding-bottom: 1.84375rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .footer__bottom {
    padding-bottom: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.84375rem );
  }
}
@media (max-width: 20em) {
  .footer__bottom {
    padding-bottom: 0.625rem;
  }
}
.footer__bottom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3f3f3f;
}
.footer__bottom p a {
  text-decoration: underline;
}
@media (max-width: 39.0625em) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
}
.footer__links {
  display: flex;
}
@media (min-width: 109.375em) {
  .footer__links {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 109.375em) {
  .footer__links {
    gap: clamp( 0.9375rem , 0.5878496503rem  +  1.7482517483vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .footer__links {
    gap: 0.9375rem;
  }
}
.footer__links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3f3f3f;
}
@media (max-width: 35em) {
  .footer__links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
