@charset "UTF-8";
@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien-Bold.woff2") format("woff2"), url("../fonts/Galien-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 330px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 58.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.button {
  border-radius: 0.625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: #fff;
  padding: 15px;
  transition: box-shadow 0.3s ease;
}
.button:hover {
  box-shadow: 0px 0px 38px -9px rgba(0, 0, 0, 0.2);
}

h3 {
  font-weight: 600;
  line-height: 128%;
  letter-spacing: 0.05em;
}
@media (min-width: 60em) {
  h3 {
    font-size: 2.25rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  h3 {
    font-size: clamp( 1.5rem , 1.1071428571rem  +  1.9047619048vw , 2.25rem );
  }
}
@media (max-width: 20.625em) {
  h3 {
    font-size: 1.5rem;
  }
}

.dark-blue {
  background-color: #5a98d0;
  color: #fff;
  position: relative;
}
.dark-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #316099;
  border-radius: 0px 12.5rem 0px 0px;
  transform: translateX(-5%);
}
@media (max-width: 75em) {
  .dark-blue::before {
    border-radius: 0px 6.25rem 0px 0px;
    transform: translateX(-5px);
  }
}

.header__container {
  max-width: 75rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 60em) {
  .header__container {
    margin-top: 2.5rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .header__container {
    margin-top: clamp( 0.9375rem , 0.119047619rem  +  3.9682539683vw , 2.5rem );
  }
}
@media (max-width: 20.625em) {
  .header__container {
    margin-top: 0.9375rem;
  }
}

.hero {
  position: relative;
}
@media (min-width: 60em) {
  .hero {
    padding-top: 5.8125rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .hero {
    padding-top: clamp( 2.5rem , 0.7648809524rem  +  8.4126984127vw , 5.8125rem );
  }
}
@media (max-width: 20.625em) {
  .hero {
    padding-top: 2.5rem;
  }
}
@media (min-width: 60em) {
  .hero {
    padding-bottom: 11.875rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .hero {
    padding-bottom: clamp( 1.875rem , -3.3630952381rem  +  25.3968253968vw , 11.875rem );
  }
}
@media (max-width: 20.625em) {
  .hero {
    padding-bottom: 1.875rem;
  }
}
.hero__container {
  position: relative;
}
.hero__heading {
  font-family: "Galien";
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.16rem;
  line-height: 115%;
  color: #1f3f68;
}
@media (min-width: 60em) {
  .hero__heading {
    font-size: 4rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .hero__heading {
    font-size: clamp( 2rem , 0.9523809524rem  +  5.0793650794vw , 4rem );
  }
}
@media (max-width: 20.625em) {
  .hero__heading {
    font-size: 2rem;
  }
}
@media (min-width: 60em) {
  .hero__heading {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .hero__heading {
    margin-bottom: clamp( 1.5625rem , 1.0714285714rem  +  2.380952381vw , 2.5rem );
  }
}
@media (max-width: 20.625em) {
  .hero__heading {
    margin-bottom: 1.5625rem;
  }
}
.hero__text {
  font-size: 1rem;
  color: #1f3f68;
  opacity: 0.6;
  max-width: 26.5625rem;
  letter-spacing: 0.05rem;
  line-height: 160%;
}
@media (min-width: 60em) {
  .hero__text {
    margin-bottom: 4.875rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .hero__text {
    margin-bottom: clamp( 2.4375rem , 1.1607142857rem  +  6.1904761905vw , 4.875rem );
  }
}
@media (max-width: 20.625em) {
  .hero__text {
    margin-bottom: 2.4375rem;
  }
}
.hero__cta {
  background-color: #5a98d0;
  line-height: 150%;
  letter-spacing: 0.05rem;
  padding-left: var(--padding-y);
  padding-right: var(--padding-y);
}
@media (min-width: 60em) {
  .hero__cta {
    --padding-y: 3rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .hero__cta {
    --padding-y: clamp( 1.5rem , 0.7142857143rem  +  3.8095238095vw , 3rem );
  }
}
@media (max-width: 20.625em) {
  .hero__cta {
    --padding-y: 1.5rem;
  }
}
.hero__image {
  z-index: -1;
  position: absolute;
  top: calc(var(--top) * -1);
  right: calc(var(--right) * -1);
}
@media (min-width: 60em) {
  .hero__image {
    --right: 10.9375rem;
  }
}
@media (min-width: 81.875em) and (max-width: 60em) {
  .hero__image {
    --right: clamp( 10.9375rem , 10.9375rem  +  0vw , 10.9375rem );
  }
}
@media (min-width: 62.5625em) and (max-width: 81.875em) {
  .hero__image {
    --right: clamp( 0.00000625rem , -35.4318100728rem  +  56.6342718447vw , 10.9375rem );
  }
}
@media (min-width: 20.625em) and (max-width: 62.5em) {
  .hero__image {
    --right: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
  }
}
@media (max-width: 20.625em) {
  .hero__image {
    --right: 0.00000625rem;
  }
}
@media (min-width: 60em) {
  .hero__image {
    --top: 5.75rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .hero__image {
    --top: clamp( 0.0625rem , -2.9166666667rem  +  14.4444444444vw , 5.75rem );
  }
}
@media (max-width: 20.625em) {
  .hero__image {
    --top: 0.0625rem;
  }
}
@media (max-width: 75.625em) {
  .hero__image {
    top: -20px;
    margin-left: 28.125rem;
  }
}
@media (max-width: 47.5em) {
  .hero__image {
    position: relative;
    margin-left: 0;
  }
}
.hero__image img {
  width: 100%;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  opacity: 0.2;
}

@media (min-width: 60em) {
  .services {
    padding-top: 11.875rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .services {
    padding-top: clamp( 1.875rem , -3.3630952381rem  +  25.3968253968vw , 11.875rem );
  }
}
@media (max-width: 20.625em) {
  .services {
    padding-top: 1.875rem;
  }
}
@media (min-width: 60em) {
  .services {
    padding-bottom: 13.25rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .services {
    padding-bottom: clamp( 1.875rem , -4.0833333333rem  +  28.8888888889vw , 13.25rem );
  }
}
@media (max-width: 20.625em) {
  .services {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 53.75em) {
  .services__container {
    column-count: 2;
    column-gap: 1.25rem;
  }
}
@media (max-width: 53.75em) {
  .services__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
}
.services__title {
  color: #316099;
  max-width: 22.5rem;
}
@media (min-width: 60em) {
  .services__title {
    margin-bottom: 9.875rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .services__title {
    margin-bottom: clamp( 2.5rem , -1.3630952381rem  +  18.7301587302vw , 9.875rem );
  }
}
@media (max-width: 20.625em) {
  .services__title {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 53.75em) {
  .services__title {
    text-align: center;
  }
}
.services__card {
  position: relative;
  break-inside: avoid;
  box-shadow: 5px 20px 50px 0 rgba(31, 63, 104, 0.2);
  border-radius: 0.625rem;
  padding-top: 14.75rem !important;
  transition: box-shadow 0.3s ease;
  max-width: 23.75rem;
  width: 100%;
}
@media (min-width: 60em) {
  .services__card {
    padding: 3rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .services__card {
    padding: clamp( 0.9375rem , -0.1428571429rem  +  5.2380952381vw , 3rem );
  }
}
@media (max-width: 20.625em) {
  .services__card {
    padding: 0.9375rem;
  }
}
@media (max-width: 53.75em) {
  .services__card {
    max-width: 100%;
  }
}
@media (min-width: 60em) {
  .services__card {
    margin-left: 5rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .services__card {
    margin-left: clamp( 0.00000625rem , -2.6190380952rem  +  12.6983968254vw , 5rem );
  }
}
@media (max-width: 20.625em) {
  .services__card {
    margin-left: 0.00000625rem;
  }
}
@media (max-width: 53.75em) {
  .services__card {
    margin-left: 0;
  }
}
@media (min-width: 60em) {
  .services__card:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .services__card:not(:last-child) {
    margin-bottom: clamp( 1.875rem , -0.4166666667rem  +  11.1111111111vw , 6.25rem );
  }
}
@media (max-width: 20.625em) {
  .services__card:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 53.75em) {
  .services__card:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.services__card:hover {
  box-shadow: 5px 20px 50px 0 rgba(31, 63, 104, 0.4);
}
.services__cardicon {
  margin-bottom: 3.5rem;
  position: absolute;
  transform: translate(-50%);
}
.business .services__cardicon {
  top: 3.125rem;
  left: calc(50% - 1.875rem);
}
.technology .services__cardicon {
  top: -1.25rem;
  left: calc(50% + 0.3125rem);
}
.digital .services__cardicon {
  top: 3.125rem;
  left: calc(50% - 1.25rem);
}
.services__cardtitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0.048em;
  color: #1f3f68;
  margin-bottom: 1rem;
}
.services__cardtext {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 2rem;
}
.services__cardcta {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 214%;
  letter-spacing: 0.05em;
  color: #5a98d0;
}
.services__cardcta img {
  transition: all 0.3s ease;
}
.services__cardcta:hover img {
  margin-left: 0.3125rem;
}

.clients {
  background-color: #5a98d0;
  color: #fff;
  border-radius: 12.5rem 0 0 0;
}
@media (min-width: 60em) {
  .clients {
    padding-top: 6rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .clients {
    padding-top: clamp( 1.875rem , -0.2857142857rem  +  10.4761904762vw , 6rem );
  }
}
@media (max-width: 20.625em) {
  .clients {
    padding-top: 1.875rem;
  }
}
@media (min-width: 60em) {
  .clients {
    padding-bottom: 7.8125rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .clients {
    padding-bottom: clamp( 1.875rem , -1.2351190476rem  +  15.0793650794vw , 7.8125rem );
  }
}
@media (max-width: 20.625em) {
  .clients {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 75em) {
  .clients {
    border-radius: 6.25rem 0 0 0;
  }
}
@media (max-width: 53.75em) {
  .clients {
    border-radius: 0;
  }
}
.clients__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1.25rem;
}
@media (min-width: 60em) {
  .clients__container {
    column-gap: 6.0625rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .clients__container {
    column-gap: clamp( 1.25rem , -1.2708333333rem  +  12.2222222222vw , 6.0625rem );
  }
}
@media (max-width: 20.625em) {
  .clients__container {
    column-gap: 1.25rem;
  }
}
@media (max-width: 61.25em) {
  .clients__container {
    grid-template-columns: 1fr;
  }
}
.clients__title {
  font-weight: 600;
  line-height: 128%;
}
.clients__subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
.clients__grid {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 6.875rem;
}
@media (max-width: 61.25em) {
  .clients__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1;
    margin-top: 1.25rem;
  }
}
@media (max-width: 35em) {
  .clients__grid {
    grid-template-columns: 1fr;
  }
}
.clients__item {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 230%;
  letter-spacing: 0.02em;
  color: #f2f2f2;
  padding: 41px 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 61.25em) {
  .clients__item:nth-child(-n+4) {
    border-bottom: 1px solid #fff;
  }
  .clients__item:not(:nth-child(4)):not(:nth-child(8)) {
    border-right: 1px solid #fff;
  }
}
@media (max-width: 61.25em) and (min-width: 35em) {
  .clients__item:nth-child(-n+6) {
    border-bottom: 1px solid #fff;
  }
  .clients__item:not(:nth-child(2)):not(:nth-child(4)):not(:nth-child(6)):not(:nth-child(8)) {
    border-right: 1px solid #fff;
  }
}
@media (max-width: 35em) {
  .clients__item:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
}
.clients__item:not(.clients__item.more) {
  text-transform: uppercase;
}
.clients__item.more {
  text-transform: capitalize;
  background-color: rgba(49, 96, 153, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.clients__item.more:hover {
  background-color: rgba(49, 96, 153, 0.3);
}

.feedback__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 60em) {
  .feedback__container {
    padding-top: 5.6875rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .feedback__container {
    padding-top: clamp( 1.875rem , -0.1220238095rem  +  9.6825396825vw , 5.6875rem );
  }
}
@media (max-width: 20.625em) {
  .feedback__container {
    padding-top: 1.875rem;
  }
}
@media (min-width: 60em) {
  .feedback__container {
    padding-bottom: 6.0625rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .feedback__container {
    padding-bottom: clamp( 1.875rem , -0.318452381rem  +  10.6349206349vw , 6.0625rem );
  }
}
@media (max-width: 20.625em) {
  .feedback__container {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 53.75em) {
  .feedback__container {
    flex-direction: column;
    gap: 1.5625rem;
  }
}
@media (max-width: 53.75em) {
  .feedback__text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.feedback__title {
  max-width: 20rem;
}
@media (min-width: 60em) {
  .feedback__title {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .feedback__title {
    margin-bottom: clamp( 0.9375rem , 0.380952381rem  +  2.6984126984vw , 2rem );
  }
}
@media (max-width: 20.625em) {
  .feedback__title {
    margin-bottom: 0.9375rem;
  }
}
.feedback__subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
  opacity: 0.6;
  max-width: 28.75rem;
}
.feedback__cta {
  background-color: #5a98d0;
  padding-left: 4.6875rem;
  padding-right: 4.6875rem;
}

@media (min-width: 60em) {
  .footer {
    padding-top: 6.0625rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .footer {
    padding-top: clamp( 1.25rem , -1.2708333333rem  +  12.2222222222vw , 6.0625rem );
  }
}
@media (max-width: 20.625em) {
  .footer {
    padding-top: 1.25rem;
  }
}
@media (min-width: 60em) {
  .footer {
    padding-bottom: 4rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .footer {
    padding-bottom: clamp( 1.25rem , -0.1904761905rem  +  6.9841269841vw , 4rem );
  }
}
@media (max-width: 20.625em) {
  .footer {
    padding-bottom: 1.25rem;
  }
}
.footer.dark-blue::before {
  border-radius: 0;
}
.footer .footer-separate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  transform: translateX(-14%);
  background: rgba(255, 255, 255, 0.4);
}
@media (max-width: 53.75em) {
  .footer .footer-separate {
    transform: translateX(-5%);
  }
}
.footer__container {
  position: relative;
  display: flex;
}
@media (max-width: 53.75em) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
  }
}
.footer__column {
  max-width: 18.75rem;
}
.footer__column:first-child {
  margin-right: 6.25rem;
}
@media (max-width: 53.75em) {
  .footer__column:first-child {
    margin: 0;
  }
}
.footer__column:last-child {
  margin-left: 4.8125rem;
}
@media (max-width: 53.75em) {
  .footer__column:last-child {
    margin: 0;
  }
}
@media (max-width: 53.75em) {
  .footer__column {
    width: 100%;
    text-align: center;
  }
}
.footer__column h5 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}
.footer__column ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__column ul li a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
  position: relative;
}
.footer__column ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #5a98d0;
  transition: width 0.5s;
}
.footer__column ul li a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  background-color: #1f3f68;
  transition: width 0.5s;
}
.footer__column p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
}
.footer__column p:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__column p span,
.footer__column p a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
  margin-left: 1rem;
  position: relative;
}
.footer__column p a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #5a98d0;
  transition: width 0.5s;
}
.footer__column p a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  background-color: #1f3f68;
  transition: width 0.5s;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 164%;
  letter-spacing: 0.02em;
  margin-bottom: 1.9375rem;
}

@media (min-width: 60em) {
  .copyright {
    padding-bottom: 4rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .copyright {
    padding-bottom: clamp( 0.9375rem , -0.6666666667rem  +  7.7777777778vw , 4rem );
  }
}
@media (max-width: 20.625em) {
  .copyright {
    padding-bottom: 0.9375rem;
  }
}
.copyright.dark-blue::before {
  border-radius: 0;
}
.copyright__container {
  position: relative;
}
.copyright__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
  opacity: 0.4;
}

.popup {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup.--isVisible {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
}
.popup.--isVisible .popup__wrapper {
  transform: scale(1);
}
.popup__wrapper {
  max-width: 540px;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  transform: scale(0.5);
  box-shadow: 5px 10px 50px 0 rgba(31, 63, 104, 0.2);
  border-radius: 0.625rem;
  transition: transform 0.3s ease;
}
@media (min-width: 60em) {
  .popup__wrapper {
    padding: 3.5rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup__wrapper {
    padding: clamp( 0.625rem , -0.880952381rem  +  7.3015873016vw , 3.5rem );
  }
}
@media (max-width: 20.625em) {
  .popup__wrapper {
    padding: 0.625rem;
  }
}
.popup__close {
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: 1.875rem;
  right: 2.5rem;
}
.popup__close:hover:before, .popup__close:hover:after {
  background: #5a98d0;
}
.popup__close:before, .popup__close:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 0.1875rem;
  background: #1f3f68;
  transition: all 0.3s ease;
}
.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
.popup .contact-form__title {
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #1f3f68;
  line-height: 150%;
  letter-spacing: 0.04em;
}
@media (min-width: 60em) {
  .popup .contact-form__title {
    margin-bottom: 3rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup .contact-form__title {
    margin-bottom: clamp( 1rem , -0.0476190476rem  +  5.0793650794vw , 3rem );
  }
}
@media (max-width: 20.625em) {
  .popup .contact-form__title {
    margin-bottom: 1rem;
  }
}
.popup .contact-form__body {
  display: flex;
  flex-direction: column;
}
@media (min-width: 60em) {
  .popup .contact-form__body {
    gap: 2rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup .contact-form__body {
    gap: clamp( 1rem , 0.4761904762rem  +  2.5396825397vw , 2rem );
  }
}
@media (max-width: 20.625em) {
  .popup .contact-form__body {
    gap: 1rem;
  }
}
.popup .contact-form__field {
  display: flex;
  flex-direction: column;
}
.popup .contact-form__label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 187%;
  letter-spacing: 0.04em;
  margin-bottom: 0.5rem;
}
.popup .contact-form__input {
  border: 1px solid rgba(53, 110, 173, 0.4);
  border-radius: 10px;
  outline: none;
}
@media (min-width: 60em) {
  .popup .contact-form__input {
    padding-top: 1.3125rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup .contact-form__input {
    padding-top: clamp( 0.3125rem , -0.2113095238rem  +  2.5396825397vw , 1.3125rem );
  }
}
@media (max-width: 20.625em) {
  .popup .contact-form__input {
    padding-top: 0.3125rem;
  }
}
@media (min-width: 60em) {
  .popup .contact-form__input {
    padding-bottom: 1.3125rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup .contact-form__input {
    padding-bottom: clamp( 0.3125rem , -0.2113095238rem  +  2.5396825397vw , 1.3125rem );
  }
}
@media (max-width: 20.625em) {
  .popup .contact-form__input {
    padding-bottom: 0.3125rem;
  }
}
@media (min-width: 60em) {
  .popup .contact-form__input {
    padding-left: 2.625rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup .contact-form__input {
    padding-left: clamp( 0.9375rem , 0.0535714286rem  +  4.2857142857vw , 2.625rem );
  }
}
@media (max-width: 20.625em) {
  .popup .contact-form__input {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 60em) {
  .popup .contact-form__input {
    padding-right: 2.625rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup .contact-form__input {
    padding-right: clamp( 0.9375rem , 0.0535714286rem  +  4.2857142857vw , 2.625rem );
  }
}
@media (max-width: 20.625em) {
  .popup .contact-form__input {
    padding-right: 0.9375rem;
  }
}
.popup .contact-form__input::placeholder {
  font-weight: 300;
  font-size: 1rem;
  line-height: 187%;
  letter-spacing: 0.04em;
  opacity: 0.2;
}
.popup .contact-form__input.error {
  border: 1px solid rgba(196, 70, 70, 0.4);
}
.popup .contact-form__submit-btn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #5a98d0;
  text-transform: uppercase;
  line-height: 162%;
  letter-spacing: 0.04em;
  font-weight: 600;
}
@media (min-width: 60em) {
  .popup .contact-form__submit-btn {
    margin-top: 2rem;
  }
}
@media (min-width: 20.625em) and (max-width: 60em) {
  .popup .contact-form__submit-btn {
    margin-top: clamp( 1rem , 0.4761904762rem  +  2.5396825397vw , 2rem );
  }
}
@media (max-width: 20.625em) {
  .popup .contact-form__submit-btn {
    margin-top: 1rem;
  }
}
.popup .contact-form__submit-btn:disabled {
  background-color: rgba(90, 152, 208, 0.2);
}
.popup .contact-form__submit-btn:disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
}
