@charset "UTF-8";
@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria_bold.woff2") format("woff2"), url("../fonts/geometria_bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria_bolditalic.woff2") format("woff2"), url("../fonts/geometria_bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria_extrabold.woff2") format("woff2"), url("../fonts/geometria_extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria_light.woff2") format("woff2"), url("../fonts/geometria_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria_lightitalic.woff2") format("woff2"), url("../fonts/geometria_lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria_mediumitalic.woff2") format("woff2"), url("../fonts/geometria_mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria_medium.woff2") format("woff2"), url("../fonts/geometria_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Geometria";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Geometria";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(122.76deg, #FFA2A2 4.09%, #FF7B7B 91.04%), #FFFFFF;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

*/
.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  position: relative;
}
@media (min-width: 73.125em) {
  .calc {
    width: 38.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc {
    width: clamp( 22.5rem , 16.4764705882rem  +  30.1176470588vw , 38.5rem );
  }
}
@media (max-width: 20em) {
  .calc {
    width: 22.5rem;
  }
}
@media (min-width: 73.125em) {
  .calc {
    height: 54.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc {
    height: clamp( 33.125rem , 24.9838235294rem  +  40.7058823529vw , 54.75rem );
  }
}
@media (max-width: 20em) {
  .calc {
    height: 33.125rem;
  }
}
@media (min-width: 73.125em) {
  .calc {
    margin-top: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc {
    margin-top: clamp( 0.625rem , -0.0338235294rem  +  3.2941176471vw , 2.375rem );
  }
}
@media (max-width: 20em) {
  .calc {
    margin-top: 0.625rem;
  }
}
@media (min-width: 73.125em) {
  .calc {
    margin-bottom: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc {
    margin-bottom: clamp( 0.625rem , -0.0338235294rem  +  3.2941176471vw , 2.375rem );
  }
}
@media (max-width: 20em) {
  .calc {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 73.125em) {
  .calc {
    margin-left: 1.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc {
    margin-left: clamp( 0.3125rem , -0.2992647059rem  +  3.0588235294vw , 1.9375rem );
  }
}
@media (max-width: 20em) {
  .calc {
    margin-left: 0.3125rem;
  }
}
@media (min-width: 73.125em) {
  .calc {
    margin-right: 1.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc {
    margin-right: clamp( 0.3125rem , -0.2992647059rem  +  3.0588235294vw , 1.9375rem );
  }
}
@media (max-width: 20em) {
  .calc {
    margin-right: 0.3125rem;
  }
}
.calc__border {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.2;
  backdrop-filter: blur(2px);
  border-radius: 18px;
  width: 616px;
  z-index: 0;
}
@media (min-width: 73.125em) {
  .calc__border {
    width: 38.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__border {
    width: clamp( 22.5rem , 16.4764705882rem  +  30.1176470588vw , 38.5rem );
  }
}
@media (max-width: 20em) {
  .calc__border {
    width: 22.5rem;
  }
}
@media (min-width: 73.125em) {
  .calc__border {
    height: 54.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__border {
    height: clamp( 33.125rem , 24.9838235294rem  +  40.7058823529vw , 54.75rem );
  }
}
@media (max-width: 20em) {
  .calc__border {
    height: 33.125rem;
  }
}
.calc__body {
  position: absolute;
  opacity: 1;
  background: linear-gradient(155.23deg, #28518e 0%, #3a77d1 100%);
  box-shadow: 0px 82px 158px rgba(0, 0, 0, 0.35), 0px 24.7206px 47.6324px rgba(0, 0, 0, 0.228056), 0px 10.2677px 19.7841px rgba(0, 0, 0, 0.175), 0px 3.71362px 7.1555px rgba(0, 0, 0, 0.121944);
  border-radius: 18px;
  z-index: 1;
}
@media (min-width: 73.125em) {
  .calc__body {
    padding-top: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__body {
    padding-top: clamp( 0.4375rem , 0.2727941176rem  +  0.8235294118vw , 0.875rem );
  }
}
@media (max-width: 20em) {
  .calc__body {
    padding-top: 0.4375rem;
  }
}
@media (min-width: 73.125em) {
  .calc__body {
    padding-bottom: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__body {
    padding-bottom: clamp( 1.375rem , 0.8573529412rem  +  2.5882352941vw , 2.75rem );
  }
}
@media (max-width: 20em) {
  .calc__body {
    padding-bottom: 1.375rem;
  }
}
@media (min-width: 73.125em) {
  .calc__body {
    padding-left: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__body {
    padding-left: clamp( 1.4375rem , 0.8963235294rem  +  2.7058823529vw , 2.875rem );
  }
}
@media (max-width: 20em) {
  .calc__body {
    padding-left: 1.4375rem;
  }
}
@media (min-width: 73.125em) {
  .calc__body {
    padding-right: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__body {
    padding-right: clamp( 1.4375rem , 0.8963235294rem  +  2.7058823529vw , 2.875rem );
  }
}
@media (max-width: 20em) {
  .calc__body {
    padding-right: 1.4375rem;
  }
}
@media (min-width: 73.125em) {
  .calc__body {
    top: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__body {
    top: clamp( 0.625rem , -0.0338235294rem  +  3.2941176471vw , 2.375rem );
  }
}
@media (max-width: 20em) {
  .calc__body {
    top: 0.625rem;
  }
}
@media (min-width: 73.125em) {
  .calc__body {
    left: 1.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__body {
    left: clamp( 0.3125rem , -0.2992647059rem  +  3.0588235294vw , 1.9375rem );
  }
}
@media (max-width: 20em) {
  .calc__body {
    left: 0.3125rem;
  }
}
@media (min-width: 73.125em) {
  .calc__body {
    width: 34.625rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__body {
    width: clamp( 21.25rem , 16.2147058824rem  +  25.1764705882vw , 34.625rem );
  }
}
@media (max-width: 20em) {
  .calc__body {
    width: 21.25rem;
  }
}
.calc__display {
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  text-align: right;
  padding-bottom: 18px;
}
.calc__display-top {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
@media (min-width: 73.125em) {
  .calc__display-top {
    height: 7.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__display-top {
    height: clamp( 3.75rem , 2.4088235294rem  +  6.7058823529vw , 7.3125rem );
  }
}
@media (max-width: 20em) {
  .calc__display-top {
    height: 3.75rem;
  }
}
@media (min-width: 73.125em) {
  .calc__display-top {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__display-top {
    font-size: clamp( 1.25rem , 0.8735294118rem  +  1.8823529412vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .calc__display-top {
    font-size: 1.25rem;
  }
}
.calc__display-bottom {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (min-width: 73.125em) {
  .calc__display-bottom {
    height: 4.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__display-bottom {
    height: clamp( 3.125rem , 2.5132352941rem  +  3.0588235294vw , 4.75rem );
  }
}
@media (max-width: 20em) {
  .calc__display-bottom {
    height: 3.125rem;
  }
}
@media (min-width: 73.125em) {
  .calc__display-bottom {
    font-size: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__display-bottom {
    font-size: clamp( 1.75rem , 1.0911764706rem  +  3.2941176471vw , 3.5rem );
  }
}
@media (max-width: 20em) {
  .calc__display-bottom {
    font-size: 1.75rem;
  }
}
.calc__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 16px 20px;
  justify-items: center;
  margin-top: 37px;
}
.calc__buttons input {
  z-index: 1;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  transition: background-color 0.2s ease;
}
@media (min-width: 73.125em) {
  .calc__buttons input {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__buttons input {
    font-size: clamp( 1.25rem , 0.8735294118rem  +  1.8823529412vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .calc__buttons input {
    font-size: 1.25rem;
  }
}
@media (min-width: 73.125em) {
  .calc__buttons input {
    width: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__buttons input {
    width: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
  }
}
@media (max-width: 20em) {
  .calc__buttons input {
    width: 2.5rem;
  }
}
@media (min-width: 73.125em) {
  .calc__buttons input {
    height: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .calc__buttons input {
    height: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
  }
}
@media (max-width: 20em) {
  .calc__buttons input {
    height: 2.5rem;
  }
}
.calc__buttons input:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
